<?xml version='1.0'?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="axalta_robot_model_ur10e">

<xacro:arg name="use_nominal_extrinsics" default="false" />
<xacro:include filename="$(find ur_description)/urdf/inc/ur10e_macro.xacro" /> 

<!--<xacro:include filename="$(find realsense2_description)/urdf/_d435i.urdf.xacro" /> 

<xacro:sensor_d435i parent="camera_mount_link" use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
    <origin xyz="0 0.01 0.01" rpy="1.57 -1.57 0"/>
</xacro:sensor_d435i>
-->

  <material name="plastic">
    <color rgba="0.1 0.1 0.1 1"/>
  </material>

<xacro:ur10e_robot prefix="" safety_limits="true"/>

<!--<link name="mir_link">
<visual>
    <origin xyz="-0.45 -0.3 -0.6" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://mir_description/meshes/visual/MiR250.STL" />
    </geometry>
     <material name="LightGrey" />
  </visual>
  <collision>
    <origin xyz="-0.45 -0.3 -0.6" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://mir_description/meshes/collision/MiR250.STL" />
    </geometry>
        <material name="LightGrey" />
  </collision>
 </link>-->

<link name="mir_link">
<visual>
   <origin xyz="0.0 0 0.15" rpy="0 0 0"/>
   <geometry>
     <box size="0.8 0.58 0.3"/>
    </geometry>
    <material name="plastic"/>
</visual>
<collision>
   <origin xyz="0.0 0 0.15" rpy="0 0 0"/>
   <geometry>
     <box size="0.8 0.58 0.3"/>
    </geometry>
    <material name="plastic"/>
</collision>
</link>

<link name="box1">
<visual>
    <origin xyz="0.45 -0.3 -0.185" rpy="${3*pi/2} ${pi} 0"/>
    <geometry>
      <mesh filename="package://axalta_mir_robot_ur10e/meshes/Dummy_Chassis.dae" scale="0.001 0.001 0.001"/>
    </geometry>

  </visual>
  <collision>
    <origin xyz="0.45 -0.3 -0.185" rpy="${3*pi/2} ${pi} 0"/>
    <geometry>
      <mesh filename="package://axalta_mir_robot_ur10e/meshes/Dummy_Chassis.dae" scale="0.001 0.001 0.001"/>
    </geometry>
   
  </collision>
 </link>

<link name="wall">
<visual>
   <geometry>
     <box size="3.0 0.2 2.0"/>
    </geometry>
    <material name="black"/>
</visual>
<collision>
   <geometry>
     <box size="3.0 0.2 2.0"/>
    </geometry>
    <material name="black"/>
</collision>
</link>

<!--
<link name="camera_mount_link">
<visual>
   <origin xyz="0 0 -0.02" rpy="0 0 0"/>
   <geometry>
     <cylinder length="0.04" radius="0.05"/>
    </geometry>
    <material name="black"/>
</visual>
<collision>
   <origin xyz="0 0 -0.02" rpy="0 0 0"/>
   <geometry>
     <cylinder length="0.04" radius="0.05"/>
    </geometry>
    <material name="black"/>
</collision>
</link>
-->
<link name="world" />

<joint name="world_joint" type="fixed">
  <parent link="world" />
  <child link = "mir_link" />
  <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
</joint>

<joint name="mir_box1_joint" type="fixed" >
   <parent link="mir_link" />
   <child link="box1" />
   <origin xyz="0 0 0.485" rpy="0 0 3.14159"/>
</joint>


<joint name="box1_ur10e_joint" type="fixed" >
   <parent link="box1" />
   <child link="base_link" />
     <origin xyz="-0.04 -0.01 0.115" rpy="0 0 3.1416"/>
   <pose>-0 0 0 0 0 0</pose>
</joint> 

<joint name="wall_joint" type="fixed">
   <parent link="box1" />
   <child link="wall" />
     <origin xyz="0 0.4507 0.51" rpy="0 0 3.1416"/>
   <pose>0 0 0 0 0 0</pose>
</joint>
<!--
<joint name="camera_mount_joint" type="fixed">
   <parent link="wrist_3_link" />
   <child link="camera_mount_link" />
     <origin xyz="0 0 0.04" rpy="0 0 0"/>
   
</joint>
-->
</robot>



   
   
  
    



