<launch>
    <!--<include file="/home/salai/Axalta_Project/axalta_ws/src/axalta_mir_robot_ur10e_kdl_moveit_config/launch/demo.launch" />-->
    <include file="/home/axalta_ws/src/axalta_mir_robot_ur10e_trac_ik_moveit_config/launch/demo.launch" />

    <node pkg="arm_tf_publisher" type="path_tf_broadcaster" name="path_tf_broadcaster" clear_params="true" output="log"></node>
  
    <!--<node pkg="arm_tf_publisher" type="add_frame.py" name="add_frame" clear_params="true" output="log"></node>-->
  
    <!--<node pkg="open3d_ros_pointcloud_conversion" type="lib_cloud_conversion_between_Open3D_and_ROS.py" name="lib_cloud_conversion_between_Open3D_and_ROS" clear_params="true" output="log"></node>-->

    <!--<node pkg="arm_tf_publisher" type="tf_test.py" name="tf_test" clear_params="true" output="log"></node>-->

    <!--<node pkg="pointcloud_process" type="trajectory_type_convertor.py" name="trajectory_type_convertor" clear_params="true" output="log"></node>  

    <node pkg="pointcloud_process" type="quaternion_calculation.py" name="quaternion_calculation" clear_params="true" output="log"></node>

    <node pkg="pointcloud_process" type="pointCloudFilter" name="pointCloudFilter" clear_params="true" output="log"></node>

      

    <node pkg="pointcloud_process" type="range_filter_after_tf.py" name="range_filter_after_tf" clear_params="true" output="log"></node>


    <node pkg="pointcloud_process" type="surface_modelling_node" name="surface_modelling_node" clear_params="true" output="log"></node>  

    <node pkg="pointcloud_process" type="path_planner" name="path_planner" clear_params="true" output="log"></node>   

    
    <node pkg="move_ur10e" type="trajectory_planning_service" name="trajectory_planning_service" clear_params="true" output="log"></node>

    <node pkg="move_ur10e" type="trajectory_executor" name="trajectory_executor" clear_params="true" output="log"></node>    
     
    <node pkg="pointcloud_process" type="tf_tcp_pose.py" name="tf_tcp_pose" clear_params="true" output="log"></node> 

    <node pkg="rtde_python" type="test_fill_path_sendData_ur_from_file.py" name="test_fill_path_sendData_ur_from_file" clear_params="true" output="log"></node>

    <node pkg="rtde_python" type="test_full_paht_receData_ur.py" name="test_full_paht_receData_ur" clear_params="true" output="log"></node>-->

</launch>

